/* header *//* header */
:root {
  --main-color: #10cab7;
  --white-gray: #777777;
  --max-white-gray: #f0f0f0;
  --sac-color: #2c4755;
}
header .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 30px) {
  header .container {
    width: 240px;
  }
}

@media (min-width: 600px) {
  header .container {
    width: 500px;
  }
}
@media (min-width: 1000px) {
  header .container {
    width: 900px;
  }
}
.links {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}
.med {
  background-color: rgb(235, 235, 235);
  min-width: 200px;
  border-radius: 10px 0 10px 10px;
  padding: 20px;
  position: absolute;
  top: 50px;
  display: none;
}
.links:hover .med {
  display: block;
}
.med::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: rgba(255, 0, 0, 0) rgba(255, 0, 0, 0) rgb(207, 207, 207)
    rgba(255, 0, 0, 0);
  right: 4px;
  top: -25px;
}
.med a {
  margin: auto;
  text-decoration: none;
  color: rgb(82, 82, 82);
  font-weight: 700;
}
.med p {
  border-bottom: 1px solid rgb(187, 187, 187);
}
.med a:hover {
  transition: 0.2s;
  padding-left: 15px;
  color: #10cab7;
}

.links .icon span {
  background-color: #333;
  width: 100%;
  height: 2px;
  margin: 2px;
  transition: 0.8s;
}

.links .icon span:first-child {
  width: 50%;
}
.links .icon span:nth-child(2) {
  width: 75%;
}
.links:hover .icon span:first-child {
  width: 100%;
}
.links:hover .icon span:nth-child(2) {
  width: 100%;
}
/* header */
/* land */
.land {
  background-image: url(../img/landing.jpg);
  height: calc(100vh - 50px);
  background-size: cover;
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: 800;
  font-size: 50px;
}
.text p {
  color: rgb(119, 119, 119);
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  padding: 30px 10%;
}
/* land */
/* section (1) */
.sec1 {
  display: flex;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.qqq {
  background-color: var(--max-white-gray);
}
.sec1 figure {
  margin: 50px 50px 0 50px;
  line-height: 25px;
}
@media (max-width: 800px) {
  .sec1 {
    display: block;
  }
}
.magic,
.gem,
.world {
  color: var(--main-color);
  font-size: 40px;
}
.sec1 h2 {
  font-size: 20px;
  cursor: pointer;
}
.sec1 h2:hover {
  color: var(--main-color);
}
.sec1 p {
  color: var(--white-gray);
}
/* section (1) */
/* start services */

.Services {
  position: relative;
}
.Services h2 {
  color: rgb(223, 223, 223);
  text-align: center;
  font-size: 11vw;
  margin: 0%;
  padding-top: 30px;
}
.Services p {
  text-align: center;
  position: absolute;
  color: var(--white-gray);
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 2vw;
}
/* end services */
/* start sec3 */
.sec3 {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}
.serv {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  column-gap: 30px;
  justify-content: center;
}
.srv {
  width: 350px;
  margin-top: 30px;
}
article .flex {
  display: flex;
}
article div i {
  font-size: 35px;
  color: var(--sac-color);
  margin: 20px 20px 0px 0px;
}

.srv .flex p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--sac-color);
}
.sec3 figure img {
  width: 230px;
  margin-right: 35px;
}

.sec3 figure {
  position: relative;
}
.sec3 figure::before {
  content: "";
  background-color: var(--sac-color);
  position: absolute;
  width: 100px;
  height: 100%;
  top: -35px;
  right: -0px;
  z-index: -1;
}

@media (max-width: 900px) {
  .srv {
    width: auto;
  }
  article .flex {
    display: block;
    text-align: center;
    width: 90vw;
  }
  article div i {
    margin: 0px;
  }

  .sec3 figure {
    display: none;
  }
  .Services h2 {
    font-size: 18vw;
  }
  .Services p {
    font-size: 4vw;
    width: 100%;
  }
}
/* end sec3 */

/* start sec4 */
.sec4 {
  margin-top: 90px;
  background-color: var(--max-white-gray);
}
.sec4 div figure img {
  width: 340px;
  margin-left: -30px;
}

.cont {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  margin: 30px 5vw;
}
.parafol h4 {
  font-size: 18px;
}
.parafol p {
  font-size: 14px;
  color: var(--white-gray);
  max-width: 340px;
}
@media (max-width: 900px) {
  .cont {
    grid-template-columns: repeat(1, 100vw);
  }
  .sec4 div figure img {
    width: 85vw;
  }
}

/* end sec4 */
/* sec5 */
.sec5 {
  display: flex;
  justify-content: space-between;
}
.sec5 div {
  width: 55%;
  margin: 10% 60px 40px;
  line-height: 35px;
  font-size: 16px;
  font-weight: 600;
}
.sec5 div p:last-child {
  color: var(--white-gray);
}
hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.sec5 article {
  margin: 55px 0 0 70px;
  position: relative;
  width: 250px;
  height: 375px;
}
.sec5 article::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ebeced;
  top: -10%;
  left: -30px;
  z-index: -1;
}
.sec5 article::after {
  content: "L";
  position: absolute;
  font-size: 550px;
  width: 200px;
  overflow: hidden;
  top: -42%;
  right: -110px;
  font-weight: 600;
  z-index: -1;
  color: var(--main-color);
}
@media (max-width: 900px) {
  .sec5 {
    flex-flow: column;
    text-align: center;
  }
  .sec5 div {
    margin: 30px auto 0;
    width: 95vw;
  }
  .sec5 article::before,
  .sec5 article::after {
    display: none;
  }
  .sec5 article {
    margin: 40px auto;
  }
}

/* end sec5 */
/* section6 */
.sec6 {
  background-color: var(--max-white-gray);
  text-align: center;
}
.feel {
  font-size: 40px;
  font-weight: 700;
  color: var(--sac-color);
}
.link {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-gray);
  text-decoration: none;
}
.link:hover {
  color: var(--main-color);
}
@media (max-width: 900px) {
  .link,
  .feel {
    font-size: 20px;
  }
  .media {
    font-size: 15px;
  }
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  padding-bottom: 60px;
}
.mm:hover {
  /* color: var(--main-color); */
  animation: colorise 0.5s infinite linear alternate;
}
@keyframes colorise {
  0% {
    color: red;
    font-size: 12px;
  }
  50% {
    color: red;
    font-size: 15px;
  }
  100% {
    color: red;
    font-size: 18px;
  }
  50% {
    color: red;
    font-size: 15px;
  }
  0% {
    color: red;
    font-size: 12px;
  }
}
/* end section6 */
footer {
  background-color: var(--sac-color);
  height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
footer a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
}
footer a:hover {
  color: var(--main-color);
}
footer div {
  display: flex;
  align-items: center;
  gap: 5px;
}


